@import "~antd/dist/antd.css";

.image-header {
  background-image: url(/src/assets/header.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-footer {
  background-image: url(/src/assets/footer.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100vh;
  top: 0;
  left: 0;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container-style-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-home {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-home-temp {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.container-logo-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
}

.container-block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-total-block {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.container-total-block1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-total-block2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.container-total {
  width: 300px;
  height: 150px;
}

.container-customer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-history {
  width: 100%;
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-query {
  width: 80%;
  height: 100%;
}

.container-style {
  border-radius: 25px;
  border-style: none;
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-color-query-data {
  background-color: rgba(230, 244, 190, 0.5);
}

.container-color-invoices {
  background-color: rgba(188, 234, 246, 0.4);
}

.container-color-total {
  background-color: rgba(231, 225, 244, 0.6);
}

.container-color-data-payment {
  background-color: rgba(255, 222, 230, 0.4);
}

.container-invoice-data-title {
  font-size: 19px;
  font-weight: 600;
  font-style: oblique;
  padding-top: 3px;
  color: #331e1a;
  display: flex;
  justify-content: center;
}

.container-query-data {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
}

.container-query-data-input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 1%;
  width: 100%;
}

.container-query-data-recaptcha {
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.container-query-data-list {
  height: 65%;
  overflow-y: auto;
}

.container-invoice-data-list {
  height: 65%;
  overflow-y: auto;
}

.container-list-data {
  height: 80%;
  padding: 5px 10px;
  /* background-color: rgba(226, 171, 48, 0.1); */
  background-color: rgba(226, 171, 48, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-list-data-global {
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.container-list-data-block1 {
  display: flex;
  flex-direction: column;
  width: 87%;
}

.container-list-data-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 13%;
}

.info-data {
  position: absolute;
  right: 3%;
  top: 2%;
}

.item-info-data-online {
  margin-right: 20px;
}

.container-data-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
  width: 50%;
}

.container-data-payment-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 190px;
}

.container-data-payment-identifier {
  width: 70%;
  height: 25px;
  display: flex;
  padding-bottom: 5px;
}

.container-data-payment-type-identifier {
  width: 70%;
  height: 25px;
  display: flex;
  padding-bottom: 5px;
}

.container-margin-right {
  margin-right: 5px;
}

.container-data-payment-last-name {
  width: 70%;
  height: 25px;
  display: flex;
  padding-bottom: 5px;
}

.container-data-payment-input-size {
  width: 60%;
}

.container-data-payment-input-design {
  border-radius: 7px;
  background-color: white;
}

.container-data-payment-input-phone-design {
  width: 30%;
}

.container-data-payment-input-identifier-design {
  width: 50%;
}

.container-customer-data-text {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #56403b;
  /* margin-left: 20px; */
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.container-customer-data-label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #56403b;
  width: 50%;
}

.container-customer-data-label-input {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  color: #56403b;
  width: 60%;
  height: 25px;
}

.container-customer-data-label-input-email {
  text-transform: lowercase;
  font-size: 13px;
  font-weight: 600;
  color: #56403b;
  width: 60%;
  height: 25px;
}

.container-total-data-text-total {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 550;
  color: rgb(161, 7, 7);
}

.container-total-data-text-total-yellow {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 550;
  color: #e2ab30;
}

.container-total-input-text-total {
  font-size: 18px;
  font-weight: 550;
  color: rgb(161, 7, 7);
}

.container-list-data-block2-total {
  font-size: 17px;
  font-weight: 600;
  color: #f2526e;
}

.container-customer-input-text {
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(1, 90, 164);
}

.container-customer-input-text-email {
  text-transform: lowercase;
  font-weight: 600;
  color: rgb(1, 90, 164);
}

.container-customer-input-text-reference-size {
  width: 25%;
  height: 25px;
}

.container-customer-input-text-size {
  width: 100%;
  height: 25px;
}

.container-data-payment-text {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: #56403b;
  width: 110px;
  margin-left: 25px;
}

.container-data-payment-button-return {
  width: 80px;
  border-radius: 7px;
  background-color: rgba(234, 107, 102, 0.8);
  color: maroon;
  font-size: 10px;
  font-weight: 700;
}

.container-data-payment-button-pay {
  width: 65px;
  height: 25px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(75, 134, 180, 0.8);
  color: #e7eff6;
  font-size: 12px;
  font-weight: 700;
}

.container-img-payment {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
}

.container-img-payment-link {
  font-size: 15px;
  font-weight: 550;
}

.container-data-payment-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  position: absolute;
  right: 20%;
  height: 130px;
}

/* TABLE */
.list-data-head {
  width: 1%;
}

.list-data-head-module {
  width: 3%;
}

.list-data-head-detail {
  width: 10%;
}

.list-data-head-text {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  background-color: #e2ab30;
  color: white;
}

.list-data-row-text {
  background-color: rgba(11, 95, 255, 0.7);
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.list-data-row {
  padding-top: 15px;
}

/* TEXTO */
.container-title-text {
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  color: white;
  background-color: #e2ab30;
}

.text-font {
  font-family: "Roboto Condensed", sans-serif;
}

.text-white {
  color: white;
}

.container-query-data-input-text {
  font-size: 16px;
  font-weight: 600;
  color: #331e1a;
}

.text-captcha-required {
  color: red;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-style: oblique;
}

.container-total-text {
  color: red;
  width: 50%;
  /* display: flex;
  justify-content: center; */
  font-size: 14px;
  font-style: oblique;
}

.text-data-payment {
  color: rgb(161, 7, 7);
  font-size: 14px;
  font-weight: 600;
  font-style: oblique;
}

.text-data-payment-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: rgb(9, 159, 179);
  width: 110px;
  margin-left: 25px;
}
.invoice-selected {
  /* background-color: rgba(232, 44, 139, 0.9); */
  background-color: rgba(0, 161, 248, 0.8);
}

.container-table-data-firt-row {
  display: flex;
  justify-content: space-evenly;
}

.table-data-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.table-data-text-oblique {
  font-style: oblique;
  color: rgb(123, 28, 7);
}

.table-data-text-detalle {
  font-size: 11px;
  font-weight: 600;
}

.container-button-home {
  height: 15%;
  width: 20%;
  background-color: #205c9d;
  color: white;
  font-size: 20px;
  font-weight: 100;
  border-radius: 50px;
}

.disabled_button {
  background-color: silver;
}

.container-button {
  height: 35px;
  width: 120px;
  background-color: #205c9d;
  color: white;
  font-size: 17px;
  font-weight: 100;
  border-radius: 50px;
}
